In [295]:
import json

fd = open("Employees_record.json",'r')

data = fd.read()

fd.close()

In [296]:
records = json.loads(data)

In [324]:
print("NAME OF EMPLOYEES WITH THEIR OCCUPATION AND EMAIL_ID")
print("***************************************************************************************************\n")

for i in range(1,33):
    print("NAME:  " ,records[str(i)]["name"] , "\t ||","\toccupation:  ", records[str(i)]["occupation"], "\t\t\t ||",
                "\temail-id:  ", records[str(i)]["email-id"],"\t\n")

print("**************************************************************************************************")

NAME OF EMPLOYEES WITH THEIR OCCUPATION AND EMAIL_ID
***************************************************************************************************

NAME:   Akash Singh 	 || 	occupation:   software engineer 			 || 	email-id:   akash0978@email.com

NAME:   Akashi metha 	 || 	occupation:   junior software engineer 			 || 	email-id:   akashimetha000@email.com

NAME:   Abbay 	 || 	occupation:   software engineer 			 || 	email-id:   abbayjio@email.com

NAME:   Ankush 	 || 	occupation:   Technical department 			 || 	email-id:   ankushkumar@email.com

NAME:   adarsh 	 || 	occupation:   Senior devloper 			 || 	email-id:   adarsh98@email.com

NAME:   Bucky 	 || 	occupation:   ios devloper 			 || 	email-id:   bukykl000@email.com

NAME:   Bakshi 	 || 	occupation:   android devloper 			 || 	email-id:   bakshi9087@email.com

NAME:   Brijraj 	 || 	occupation:   PHP developer 			 || 	email-id:   brijrajkle@email.com

NAME:   Bhomi 	 || 	occupation:   React native Deveoper 			 || 	email-id:   bhomi9870@email.com

NAME:   Bharat 	 || 	occupation:   HR 			 || 	email-id:   baharat1098@email.com

NAME:   Charan 	 || 	occupation:   Finance department 			 || 	email-id:   charanlpoi098@email.com

NAME:   Chaya 	 || 	occupation:   software engineer 			 || 	email-id:   chayasingh5609@email.com

NAME:   Chandan 	 || 	occupation:   junior software engineer 			 || 	email-id:   chandansingh760@email.com

NAME:   Deepak 	 || 	occupation:   junior software engineer 			 || 	email-id:   deepak9087@email.com

NAME:   Diksha 	 || 	occupation:   React native Deveoper 			 || 	email-id:   diksha870@email.com

NAME:   Fiza 	 || 	occupation:   software engineer 			 || 	email-id:   fizakhan@email.com

NAME:   Gungun 	 || 	occupation:   junior software engineer 			 || 	email-id:   gungun8978@email.com

NAME:   Harsh 	 || 	occupation:   software engineer 			 || 	email-id:   harshdogria@email.com

NAME:   Himanshu 	 || 	occupation:   PHP developer 			 || 	email-id:   himanshusingh56@email.com

NAME:   Jimmy 	 || 	occupation:   android devloper 			 || 	email-id:   jimmyaja@email.com

NAME:   Jony 	 || 	occupation:   React native Deveoper 			 || 	email-id:   jony8708@email.com

NAME:   Kajal 	 || 	occupation:   PHP developer 			 || 	email-id:   kajal679@email.com

NAME:   Kartik 	 || 	occupation:   software engineer 			 || 	email-id:   kartiklp908@email.com

NAME:   Lokesh 	 || 	occupation:   Finance department 			 || 	email-id:   lokeshji2909@email.com

NAME:   Mohit 	 || 	occupation:   PHP developer 			 || 	email-id:   mohit7086@email.com

NAME:   Neha 	 || 	occupation:   React native Deveoper 			 || 	email-id:   nehakumari@email.com

NAME:   Rakshit 	 || 	occupation:   Finance department 			 || 	email-id:   rakshitrajput@email.com

NAME:   Sourabh 	 || 	occupation:   software engineer 			 || 	email-id:   sourabh30@email.com

NAME:   Shivam 	 || 	occupation:   PHP developer 			 || 	email-id:   unkown79@email.com

NAME:   Salu 	 || 	occupation:   React native Deveoper 			 || 	email-id:   salukumari@email.com

NAME:   Shivani 	 || 	occupation:   android devloper 			 || 	email-id:   shivani90@email.com

NAME:   Suraj 	 || 	occupation:   Finance department 			 || 	email-id:   surajpatal@email.com

**************************************************************************************************

In [367]:
print("***ENTER THE NAME IN SAME FORMAT // NAME ARE CASE SENSITIVE***")

***ENTER THE NAME IN SAME FORMAT // NAME ARE CASE SENSITIVE***

In [315]:
user_found= True
serial_no = 0

while(user_found):
    name = input("Enter your name:  ")
    
    for i in range(1,33):
        if(records[str(i)]["name"]  == name):
            serial_no = i
            user_found = False
            print("\nYOU ARE A VALID USER")
    
    if(user_found):
        print("\nYOU ARE NOT A VALID USER PLEASE TRY AGAIN!!\n")
        exit = input("ENTER 1 if you want to exit:: ")
        if(exit == "1"):
            user_found = False

Enter your name:  Sourab

YOU ARE NOT A VALID USER PLEASE TRY AGAIN!!

ENTER 1 if you want to exit:: 2
Enter your name:  Sourabh

YOU ARE A VALID USER

In [316]:
fd = open("products.json",'r')

product = fd.read()

fd.close()

In [299]:
all_product = json.loads(product)

In [322]:
print("\t\t\t\t\tList of all item Make your order")
print("---------------------------------------------------------------------------------------------------------------------------------------------------------------------------")
for i in all_product.keys():
    print("\t\t\t",i,".Item: ",all_product[i]["item"],"\t||\tCost of item: ",all_product[i]["cost"], "\t||\tDiscount: ",all_product[i]["dis"],"\n" )
    
print("---------------------------------------------------------------------------------------------------------------------------------------------------------------------------")

					List of all item Make your order
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------
			 1 .Item:  Paneer Burger 	||	Cost of item:  260 	||	Discount:  5

			 2 .Item:  Fruit Chaat 	||	Cost of item:  100 	||	Discount:  0

			 3 .Item:  Ghugni Chaat 	||	Cost of item:  850 	||	Discount:  3

			 4 .Item:  Pizza Dough 	||	Cost of item:  230 	||	Discount:  13

			 5 .Item:  Ambala Paneer Sandwich 	||	Cost of item:  980 	||	Discount:  5

			 6 .Item:  Aloo Chaat 	||	Cost of item:  150 	||	Discount:  3

			 7 .Item:  Creamy Alfredo Chicken Pasta 	||	Cost of item:  890 	||	Discount:  10

			 8 .Item:  Aloo Tikki 	||	Cost of item:  100 	||	Discount:  0

			 9 .Item:  Chicken Tikka Burger 	||	Cost of item:  400 	||	Discount:  16

---------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [350]:
more = True
total_number_of_items = []
quantity_of_products = []

keys_of_all_product = []

for i in all_product:
    keys_of_all_product.append(i)

    
while(more):
    product_found = True
    item_number = str(input("Enter the Item Number:  "))
    for i in keys_of_all_product:
        if(i  == item_number):
            product_found = False
            quantity_of_item = int(input("Enter the quantity of item:  "))
            if(quantity_of_item <= all_product[item_number]["total_item"]):
                quant = False
                total_number_of_items.append(item_number)
                quantity_of_products.append(quantity_of_item)
                
    if(product_found):
        print("\nProduct not found!")
    order = input("Order more item enter 1:  ")
    if(order == "1"):
        more = True
    else:
        more = False

Enter the Item Number:  1
Enter the quantity of item:  2
Order more item enter 1:  1
Enter the Item Number:  10

Product not found!
Order more item enter 1:  1
Enter the Item Number:  2
Enter the quantity of item:  4
Order more item enter 1:  0

In [368]:
import time
t = time.ctime()

In [356]:
total_amount = 0
print("\t\t\t\t\t\tDetail of Bill")
print("*****************************************************")
print("Date and Time of Billing: ",t)

print("NAME:  " ,name)
print("occupation:  ",records[str(serial_no)]["occupation"])
print("email-id:  ",records[str(serial_no)]["email-id"])

    
for i in total_number_of_items:
    price=0
    num = 0
    print("------------------------------------")
    print("ITEM:  " , ": ", all_product[i]["item"])
    print("Quantity of item: ", quantity_of_products[num])
    price = all_product[i]["cost"] * quantity_of_products[num] - all_product[i]["dis"] 
    print("price: ",price)
    print("Discount: ",all_product[i]["dis"])
    print("------------------------------------")
    total_amount += price
    num = num + 1

print("--------------------------------------------------------------------------------------------")
print("\t\t\t\tTotal_Amount:  ",total_amount)
print("--------------------------------------------------------------------------------------------")
print("\n\n\t\tYour Balance:",records[str(serial_no)]["balance"], " - ",total_amount," = ",
             records[str(serial_no)]["balance"] - total_amount)
print("--------------------------------------------------------------------------------------------")

print("*************************************************************")

						Detail of Bill
*****************************************************
Date and Time of Billing:  Mon Sep  6 19:59:46 2021
NAME:   Sourabh
occupation:   software engineer
email-id:   sourabh30@email.com
------------------------------------
ITEM:   :  Paneer Burger
Quantity of item:  2
price:  515
Discount:  5
------------------------------------
------------------------------------
ITEM:   :  Fruit Chaat
Quantity of item:  2
price:  200
Discount:  0
------------------------------------
--------------------------------------------------------------------------------------------
				Total_Amount:   715
--------------------------------------------------------------------------------------------


		Your Balance: 40680  -  715  =  39965
--------------------------------------------------------------------------------------------
*************************************************************

In [357]:
records[str(serial_no)]["balance"] =  records[str(serial_no)]["balance"] - total_amount

In [358]:
records[str(serial_no)]["ltdt"] = t

In [359]:
update_employees_record =  json.dumps(records)

In [361]:
update_employess_file = open("Employees_record.json","w")
update_employess_file.write(update_employees_record)
update_employess_file.close()

In [369]:
for i in total_number_of_items:
    idx=0
    all_product[i]['total_item'] = all_product[i]['total_item'] - quantity_of_products[idx]
    idx=idx+1

In [363]:
update_product_record =  json.dumps(all_product)

In [365]:
update_product_file = open("products.json","w")
update_product_file.write(update_product_record)
update_product_file.close()